body {
    font-family: notitle;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .browser-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #250307;
  }

  .tab-bar-container {
    display: flex;
    align-items: center;
    background-color: #250307;
    padding: 0 10px;
  }

  .tab-bar {
    display: flex;
    overflow-x: auto;
  }

  .tab-bar::-webkit-scrollbar {
    display: none;
  }

  .tab {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: #3d060c;
    border: none;
    width: 200px;
    margin: 7px;
    margin-left: 0px;
    border-radius: 10px;
    height: 15px;
    border: 2px solid #460c13;
    animation: openTab 0.1s ease;
    transition: 0.1s ease;
    color: white;
    transition: all 0.2s ease-in-out;
  }

  .tab:hover {
    background-color: rgba(100, 11, 11, 0.08);
  }

  @keyframes openTab {
    0% {
      width: 20px;
    }
  }

  @keyframes closeTab {
    0% {
      width: 200px;
    }

    100% {
      width: 20px;
    }
  }

  .tab.active {
    background-color: #5e1019;
    border: 2px solid #661720;
    transition: all 0.2s ease-in-out;
  }

  .tab.active:hover {
    background-color: #811825;
    border: 2px solid #8a212d;
  }

  .tab-title {
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .tab-close {
    margin-left: auto;
    color: rgba(255, 255, 255, 0.9);
    margin-right: 2px;
    font-size: 20px;
    transform: translateY(-1px);
    transition: all 0.2s ease-in-out;
  }

  .tab-close:hover {
    color: red;
  }

  .url-bar-container {
    display: flex;
    align-items: center;
    background-color: #31050a;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    padding: 5px;
  }

  .url-input {
    flex-grow: 1;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    margin: 0;
    margin-right: 5px;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.03);
    color: rgba(255, 255, 255, 0.9);
    outline: none;
    font-family: notitle;
    transition: 0.15s;
  }

  .url-input:focus {
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 0 0 2px #42060d;
  }

  .icon-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
    margin-right: 5px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    padding: 5px;
    transition: all 0.2s ease-in-out;
  }

  .icon-button:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  .new-tab-button {
    padding: 8px;
    cursor: pointer;
    background: none;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    height: 35px;
    margin: 8.5px 0px;
    aspect-ratio: 1;
    border-radius: 50%;
    padding-top: 3.5px;
  }

  .new-tab-button:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  .browser-window {
    flex-grow: 1;
    position: relative;
    background-color: #fff;
  }

  .browser-window iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
  }

  .tab-icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }

  .menu-context {
    position: absolute;
    background: rgb(39, 39, 39);
    border: 1px solid rgb(45, 45, 45);
    border-radius: 5px;
    z-index: 1000;
    width: 150px;
  }

  .menu-context ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu-context li {
    padding: 7px 10px;
    cursor: pointer;
    color: rgb(206, 206, 206);
  }

  .menu-context li:hover {
    background: rgb(32, 32, 32);
  }

  .menu-context .divider {
    width: calc(100% - 16px);
    height: 1.5px;
    margin: 8px;
    margin-bottom: 0px;
    background: rgba(255, 255, 255, 0.1);
  }

  .menu-context small {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.388);
    margin: 0px;
    margin-left: 11px;
    margin-top: 10px;
  }

  @font-face {
    font-family: notitle;
    src: url(../assets/RedditSans-Medium.ttf);
  }